#main{
    background-color:rgba(137, 43, 226, 0.37);
    border: 2px solid black;
    width: 80%;
    margin: auto;
    height: 550px;
    padding: 10px;
    overflow-y: auto;
}


#headings{
    padding: 7px;
    margin: 5px;
}


#lib-form{
    background-color: ghostwhite;
    border: 1px solid black;
    width: 400px;
    margin: auto;
    margin-top: 0px;
    height: 450px;
    padding: 25px;
}


label { 
    float: left; 
} 
    
span { 
    display: block; 
    overflow: hidden; 
    padding: 0px 4px 0px 6px; 
} 
    


